name: Deploy Backend

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |

            echo "Conexion Exitosa"
            # 1. Ir a la carpeta del backend
            cd /home/ubuntu/Gestify_full/backend
            
            # 2. Obtener los últimos cambios
            git pull origin main
            
            # 3. Regresar a la raíz donde está el docker-compose.yml
            cd ..
            
            # 4. Reconstruir y reiniciar SOLO el servicio de backend
            # Usamos --build para forzar que Docker lea los cambios de Poetry/código
            docker compose up -d --build backend
            
            # Opcional: Ejecutar migraciones o colectar estáticos dentro del contenedor
            docker compose exec -T backend python manage.py migrate

            docker compose exce -T backend python manage.py collectstatic --noinput
